.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eee;
  max-width: 1400px;
  margin: auto;
  height: 8vh;
  padding: 0 2rem;
}

.nav > ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 18px;
}

.nav > ul > li {
  cursor: pointer;
}

.title {
  text-align: center;
}

.desc {
  margin: 2rem 0;
}

.help {
  padding: 15px 25px;
}
